<beans>
<bean id="user" name="a,b,c" class="cc.heroy.springG.test.User" >
	<property name="age" value="abc">
	</property>
</bean>
<bean name="user1" class="cc.heroy.springG.test.User" >
	<property name="name">
		<value>北纬</value>
	</property>
</bean>
<bean id="user2" class="cc.heroy.springG.test.User" ></bean>
</beans>
