<beans>

<bean id="user1" name="a,b,c" class="cc.heroy.springG.test.User" >
	<property name="age" value="123">
	</property>
</bean>

<bean name="user2" class="cc.heroy.springG.test.User" >
	<property name="id" value="123"/>
	<property name="name">
		<value>北纬</value>
	</property>
	<property name="books">
		<list>
			<value>线代</value>
			<value>高数</value>
			<value>大物</value>
		</list>
	</property>
</bean>


<bean id="user3" class="cc.heroy.springG.test.User" ></bean>
</beans>
